
@{
    ViewBag.Title = "我的桌面";
}
<style>
    .box-wrap {
        text-align: center;
        background-color: chocolate;
        overflow: hidden;
    }

        .box-wrap > li {
            width: 31%;
            padding-bottom: 15%;
            margin: 1%;
            border-radius: 20%;
            float: left;
            background-color: white ;
        }
</style>
<body class="childrenBody">
    <blockquote class="layui-elem-quote layui-bg-green">
        <div id="nowTime"></div>
    </blockquote>
    @*<div class="layui-row layui-col-space10">
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">我的菜单</blockquote>
            <ul class="box box-wrap magt0">
                <li class="box"><a href="#" title="1">在线下单</a></li>
                <li class="box"><a href="#" title="2">型材型号</a></li>
                <li class="box"><a href="#" title="3">客户型号</a></li>
                <li class="box"><a href="#" title="4">表面方式</a></li>
                <li class="box"><a href="#" title="5">包装方式</a></li>
                <li class="box"><a href="#" title="5" class="box">添加菜单</li> 
            </ul>

            <blockquote class="layui-elem-quote title">待办事项</blockquote>
            <table id="todoList" class="layui-table magt0" lay-filter="todoList"></table>
        </div>
        <div class="layui-col-lg6 layui-col-md12">
            <blockquote class="layui-elem-quote title">我的邮箱</blockquote>
            <table id="emailList" class="layui-table magt0" lay-filter="emailList"></table>
        </div>
    </div>*@
</body>



<script>

</script>





<script src="~/Scripts/04uijs/portal.js"></script>