@using Mg.Framework
@model IBillViewModel
@{
    Layout = "~/Views/Shared/_Edit_Base.cshtml";
}
<input id="q_search" class="easyui-searchbox" style="width:300px" data-options="searcher:quickSearch,menu:'#mm'" />


<div id="mm" style="width:150px">
    <div data-options="name:''">查询内容</div>
    @Html.Raw(Model?.QuickSearchItemHtml)
</div>




<table id="masterGrid">
    <thead>
        <tr>
            @Html.Raw(Model.ColumnsHtml)
        </tr>
    </thead>
</table>




@section scripts{
    <script>

        $(document).ready(function () {
            $("#masterGrid").datagrid({
                fit: false, border: true, singleSelect: true, rownumbers: true, remoteSort: false, cache: false, method: 'get', idField: 'Id',
                queryParams: { _t: com.settings.timestamp(), keyword: "" },
                pagination: true, pageList: [5, 10, 15, 20, 30, 50, 100], pageSize:@(Model==null?10:Model.PageSize),
                url: '@Model.GetListUrl',
            });
        }
        );
        function quickSearch(v, n) {
            var p = [{ FieldName: n, SearchValue: v }];
            search_data(p);
        };

        function search_data(data) {
            var q = { _t: com.settings.timestamp() };
            if (data) {
                q.keyword = JSON.stringify(data);
            }
            $('#masterGrid').datagrid('reload', q);
        }
    </script>
}